<!DOCTYPE html>
<html>
	<head>
		<title>Transactions</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="styles/foundation-essentials-5.5.2/css/foundation.css" />
		<link rel="stylesheet" href="styles/style.css" />
	</head>
	<body>
		<div class="sidebar">
			<div class="title"></div>
			<nav class="menu">
				<ul>
					<li><a href="#">Overzicht</a></li>
					<li><a href="#">Transacties</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="container">	
			<div class="contentBox">
				<div class="contentHeader">
					header - test
				</div>
				<div class="content">
					test
				</div>
			</div>					
		</div>
	</body>
</html>