<!DOCTYPE html>
<html>
	<head>
		<title>Transactions</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="styles/foundation-essentials-5.5.2/css/foundation.css" />
		<link rel="stylesheet" href="styles/style.css" />
	</head>
	<body>
		<div class="sidebar">
			<div class="title"></div>
			<nav class="menu">
				<ul>
					<li><a href="#">Overzicht</a></li>
					<li><a href="#">Transacties</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="container">				
			<div class="contentHeader">
				header - test
			</div>
			<div class="content">
				<div class="row fullWidth">
					<div class="large-4 columns">
						<div class="blockitem">
							test
						</div>						
					</div>
					<div class="large-4 columns">
						<div class="blockitem">
							test
						</div>
					</div>
					<div class="large-4 columns">
						<div class="blockitem">
							test
						</div>
					</div>
				</div>
				<div class="row fullWidth">
					<div class="large-4 columns">
						<div class="blockitem">
							test
						</div>						
					</div>
					<div class="large-4 columns">
						<div class="blockitem">
							test
						</div>
					</div>
					<div class="large-4 columns">
						<div class="blockitem">
							test
						</div>
					</div>
				</div>
			</div>								
		</div>
	</body>
</html>